In [17]:
import pandas as pd
import re
import os

In [4]:
data=pd.read_csv(r"\Users\Sanjay\Downloads\E-commerce_dataset.csv")

In [5]:
data.head()

,Customer ID,First Name,Last Name,Email Address,Phone Number,Shipping Address,Total Purchase Value,VIP Status,Order ID,Order Date,Product ID,Delivery Status,Payment Info,Shipping Address.1,Discount Code,Delivery Address,Shipping Address Duplicate
0,Z5N8P4,Rachel,James,gonzalezandrew@example.com,744) 875-9436,"93888 Daniel Shoal\nSouth Matthew, IA 80248",556.32,Regular,0951c570-96ad-432c-9010-e2736c161a50,28-04-2023,P004,Shipped,Card-5700-XXXX,"93888 Daniel Shoal\nSouth Matthew, IA 80248",NaN,"55286 Amber Bridge\nNew Ryanhaven, MH 23619","93888 Daniel Shoal\nSouth Matthew, IA 80248"
1,B4G8T1,Kristen,Brooks,rogersedward@example.com,+1 (804) 774-2083,"68480 Lam Points Apt. 110\nSouth Jeffrey, KS 2...",808.16,Regular,034cfbb2-85d6-461e-aa1e-b1f8b9bf5b20,11/12/2020,P004,Delivered,Card-5429-XXXX,"68480 Lam Points Apt. 110\nSouth Jeffrey, KS 2...",DIS974,"1385 Brett Mountains Apt. 046\nSouth Jennifer,...","68480 Lam Points Apt. 110\nSouth Jeffrey, KS 2..."
2,I4A1Z5,Marcus,Ortega,sjones@example.com,+1 (924) 360-4990,"41348 Cindy Stravenue\nLake Ricky, PA 78582",520.33,Regular,432db45a-dda3-4871-be67-878e2b4e89c1,15-09-2021,P005,Delivered,Card-3279-XXXX,"41348 Cindy Stravenue\nLake Ricky, PA 78582",NaN,USS Marsh\nFPO AP 21817,"41348 Cindy Stravenue\nLake Ricky, PA 78582"
3,I4I9Q7,Jennifer,Scott,katiepatton@example.net,+1 (700) 365-5217,Unit 4856 Box 0290\nDPO AA 56630,907.60,Regular,42cd2dc4-4032-4edc-b063-5ef04bd357e7,02/09/2021,P003,Delivered,Card-6384-XXXX,Unit 4856 Box 0290\nDPO AA 56630,DIS677,Unit 7751 Box 5229\nDPO AE 91281,Unit 4856 Box 0290\nDPO AA 56630
4,A6Y7H3,Paul,Foley,andrewwaters@example.org,+1 (713) 660-8196,"666 Samuel Knoll\nEast Paula, PA 16295",3403.44,VIP,9ce8a936-86f4-4050-9967-628949bb22ed,24-01-2021,P003,In Progress,Card-3504-XXXX,"666 Samuel Knoll\nEast Paula, PA 16295",DIS579,"94013 Mosley Ville\nWest Richard, HI 24795","666 Samuel Knoll\nEast Paula, PA 16295"

In [6]:
cleaned_data = data.drop(columns=["Shipping Address.1", "Shipping Address Duplicate"])

In [7]:
cleaned_data.head()

,Customer ID,First Name,Last Name,Email Address,Phone Number,Shipping Address,Total Purchase Value,VIP Status,Order ID,Order Date,Product ID,Delivery Status,Payment Info,Discount Code,Delivery Address
0,Z5N8P4,Rachel,James,gonzalezandrew@example.com,744) 875-9436,"93888 Daniel Shoal\nSouth Matthew, IA 80248",556.32,Regular,0951c570-96ad-432c-9010-e2736c161a50,28-04-2023,P004,Shipped,Card-5700-XXXX,NaN,"55286 Amber Bridge\nNew Ryanhaven, MH 23619"
1,B4G8T1,Kristen,Brooks,rogersedward@example.com,+1 (804) 774-2083,"68480 Lam Points Apt. 110\nSouth Jeffrey, KS 2...",808.16,Regular,034cfbb2-85d6-461e-aa1e-b1f8b9bf5b20,11/12/2020,P004,Delivered,Card-5429-XXXX,DIS974,"1385 Brett Mountains Apt. 046\nSouth Jennifer,..."
2,I4A1Z5,Marcus,Ortega,sjones@example.com,+1 (924) 360-4990,"41348 Cindy Stravenue\nLake Ricky, PA 78582",520.33,Regular,432db45a-dda3-4871-be67-878e2b4e89c1,15-09-2021,P005,Delivered,Card-3279-XXXX,NaN,USS Marsh\nFPO AP 21817
3,I4I9Q7,Jennifer,Scott,katiepatton@example.net,+1 (700) 365-5217,Unit 4856 Box 0290\nDPO AA 56630,907.60,Regular,42cd2dc4-4032-4edc-b063-5ef04bd357e7,02/09/2021,P003,Delivered,Card-6384-XXXX,DIS677,Unit 7751 Box 5229\nDPO AE 91281
4,A6Y7H3,Paul,Foley,andrewwaters@example.org,+1 (713) 660-8196,"666 Samuel Knoll\nEast Paula, PA 16295",3403.44,VIP,9ce8a936-86f4-4050-9967-628949bb22ed,24-01-2021,P003,In Progress,Card-3504-XXXX,DIS579,"94013 Mosley Ville\nWest Richard, HI 24795"

In [15]:
cleaned_data.info

<bound method DataFrame.info of       Customer ID First Name Last Name               Email Address  \
0          Z5N8P4     Rachel     James  gonzalezandrew@example.com
1          B4G8T1    Kristen    Brooks    rogersedward@example.com
2          I4A1Z5     Marcus    Ortega          sjones@example.com
3          I4I9Q7   Jennifer     Scott     katiepatton@example.net
4          A6Y7H3       Paul     Foley    andrewwaters@example.org
...           ...        ...       ...                         ...
24995      G1B3J0   Jennifer    Acosta       vstafford@example.com
24996      T0M3Z9      Kelly  Gonzalez       colemolly@example.com
24997      V8X5Q0     Amanda    Monroe           zboyd@example.com
24998      M9D0O8    Anthony     Jones    warnerhannah@example.net
24999      I0R7U3      James     Jones     hayesandrea@example.com

            Phone Number                                   Shipping Address  \
0          744) 875-9436        93888 Daniel Shoal\nSouth Matthew, IA 80248
1      +1 (804) 774-2083  68480 Lam Points Apt. 110\nSouth Jeffrey, KS 2...
2      +1 (924) 360-4990        41348 Cindy Stravenue\nLake Ricky, PA 78582
3      +1 (700) 365-5217                   Unit 4856 Box 0290\nDPO AA 56630
4      +1 (713) 660-8196             666 Samuel Knoll\nEast Paula, PA 16295
...                  ...                                                ...
24995      228) 211-5627  758 Emily Valley Apt. 308\nSouth Deniseburgh, ...
24996  +1 (982) 991-7139  3663 Natalie Square Suite 268\nKeithville, HI ...
24997  +1 (323) 427-5576    532 Heather Crest Apt. 471\nMasonport, AK 03745
24998  +1 (260) 419-6497                   Unit 8316 Box 8847\nDPO AE 47268
24999  +1 (430) 420-6543       001 Douglas Locks\nNorth Ryanmouth, TX 55814

       Total Purchase Value VIP Status                              Order ID  \
0                    556.32    Regular  0951c570-96ad-432c-9010-e2736c161a50
1                    808.16    Regular  034cfbb2-85d6-461e-aa1e-b1f8b9bf5b20
2                    520.33    Regular  432db45a-dda3-4871-be67-878e2b4e89c1
3                    907.60    Regular  42cd2dc4-4032-4edc-b063-5ef04bd357e7
4                   3403.44        VIP  9ce8a936-86f4-4050-9967-628949bb22ed
...                     ...        ...                                   ...
24995               3066.15        VIP  684d099d-6622-4eec-8a2c-659810422ed4
24996                459.98    Regular  275495e6-f2b6-41a6-a9ab-6ec4e62884b0
24997               2361.77        VIP  4def3f31-1851-4c84-9526-93faa2e4cca0
24998               3114.54        VIP  ebcbe812-b0d9-4214-9e2b-88bb058bb8d9
24999               1802.77        VIP  c058403f-dd75-48f5-867a-df1b8bd010d0

       Order Date Product ID Delivery Status    Payment Info Discount Code  \
0      28-04-2023       P004         Shipped  Card-5700-XXXX           NaN
1      11/12/2020       P004       Delivered  Card-5429-XXXX        DIS974
2      15-09-2021       P005       Delivered  Card-3279-XXXX           NaN
3      02/09/2021       P003       Delivered  Card-6384-XXXX        DIS677
4      24-01-2021       P003     In Progress  Card-3504-XXXX        DIS579
...           ...        ...             ...             ...           ...
24995  11-05-2022       P002         Pending  Card-8673-XXXX        DIS134
24996  31/08/2022       P003         Pending  Card-9035-XXXX           NaN
24997  12-10-2023       P005       Delivered  Card-7844-XXXX           NaN
24998  20-12-2020       P005         Pending  Card-5339-XXXX        DIS713
24999  30-07-2024       P002       Delivered  Card-5233-XXXX        DIS405

                                        Delivery Address
0            55286 Amber Bridge\nNew Ryanhaven, MH 23619
1      1385 Brett Mountains Apt. 046\nSouth Jennifer,...
2                                USS Marsh\nFPO AP 21817
3                       Unit 7751 Box 5229\nDPO AE 91281
4             94013 Mosley Ville\nWest Richard, HI 24795
...                                                  ...
24995            00892 Smith Canyon\nEast Carl, KY 23567
24996     64803 Griffith Pass\nLake Josephstad, MA 85160
24997  0628 Mullins Underpass Suite 814\nEast Mariavi...
24998  60734 Cummings Expressway Apt. 278\nKristishir...
24999  5364 Mackenzie Club Apt. 847\nPort Laurafort, ...

[25000 rows x 15 columns]>

In [8]:
cleaned_data['Phone Number'].sample(15,random_state=2)

15050    +1 (839) 215-6647
9386     +1 (356) 567-2286
486      +1 (852) 561-6685
12924        267) 233-9103
16897        417) 547-6346
11678        955) 730-8685
12834    +1 (991) 839-5852
13265    +1 (458) 222-8796
12712    +1 (359) 735-4491
12499        997) 513-9271
14063    +1 (429) 439-6014
21559    +1 (535) 746-8679
15652        675) 945-9863
5427         963) 695-3601
10353    +1 (213) 616-9047
Name: Phone Number, dtype: object

In [9]:
def standardize_phone_number(phone):
    match = re.match(r'.*?(\d{3}).*?(\d{3}).*?(\d{4})', phone)
    if match:
        return f"+1 ({match.group(1)}) {match.group(2)}-{match.group(3)}"
    return phone

In [10]:
cleaned_data['Phone Number'] = cleaned_data['Phone Number'].apply(standardize_phone_number)

In [11]:
cleaned_data['Phone Number'].sample(15,random_state=2)

15050    +1 (839) 215-6647
9386     +1 (356) 567-2286
486      +1 (852) 561-6685
12924    +1 (267) 233-9103
16897    +1 (417) 547-6346
11678    +1 (955) 730-8685
12834    +1 (991) 839-5852
13265    +1 (458) 222-8796
12712    +1 (359) 735-4491
12499    +1 (997) 513-9271
14063    +1 (429) 439-6014
21559    +1 (535) 746-8679
15652    +1 (675) 945-9863
5427     +1 (963) 695-3601
10353    +1 (213) 616-9047
Name: Phone Number, dtype: object

In [12]:
cleaned_data.head()

,Customer ID,First Name,Last Name,Email Address,Phone Number,Shipping Address,Total Purchase Value,VIP Status,Order ID,Order Date,Product ID,Delivery Status,Payment Info,Discount Code,Delivery Address
0,Z5N8P4,Rachel,James,gonzalezandrew@example.com,+1 (744) 875-9436,"93888 Daniel Shoal\nSouth Matthew, IA 80248",556.32,Regular,0951c570-96ad-432c-9010-e2736c161a50,28-04-2023,P004,Shipped,Card-5700-XXXX,NaN,"55286 Amber Bridge\nNew Ryanhaven, MH 23619"
1,B4G8T1,Kristen,Brooks,rogersedward@example.com,+1 (804) 774-2083,"68480 Lam Points Apt. 110\nSouth Jeffrey, KS 2...",808.16,Regular,034cfbb2-85d6-461e-aa1e-b1f8b9bf5b20,11/12/2020,P004,Delivered,Card-5429-XXXX,DIS974,"1385 Brett Mountains Apt. 046\nSouth Jennifer,..."
2,I4A1Z5,Marcus,Ortega,sjones@example.com,+1 (924) 360-4990,"41348 Cindy Stravenue\nLake Ricky, PA 78582",520.33,Regular,432db45a-dda3-4871-be67-878e2b4e89c1,15-09-2021,P005,Delivered,Card-3279-XXXX,NaN,USS Marsh\nFPO AP 21817
3,I4I9Q7,Jennifer,Scott,katiepatton@example.net,+1 (700) 365-5217,Unit 4856 Box 0290\nDPO AA 56630,907.60,Regular,42cd2dc4-4032-4edc-b063-5ef04bd357e7,02/09/2021,P003,Delivered,Card-6384-XXXX,DIS677,Unit 7751 Box 5229\nDPO AE 91281
4,A6Y7H3,Paul,Foley,andrewwaters@example.org,+1 (713) 660-8196,"666 Samuel Knoll\nEast Paula, PA 16295",3403.44,VIP,9ce8a936-86f4-4050-9967-628949bb22ed,24-01-2021,P003,In Progress,Card-3504-XXXX,DIS579,"94013 Mosley Ville\nWest Richard, HI 24795"

In [13]:
cleaned_data['Delivery Status'].unique()

array(['Shipped', 'Delivered', 'In Progress', 'Pending'], dtype=object)

In [14]:
cleaned_data['Delivery Status'] = cleaned_data['Delivery Status'].replace("In Progress", "Shipped")

In [15]:
cleaned_data['Delivery Status'].unique()

array(['Shipped', 'Delivered', 'Pending'], dtype=object)

In [22]:
cleaned_data.head()

,Customer ID,First Name,Last Name,Email Address,Phone Number,Shipping Address,Total Purchase Value,VIP Status,Order ID,Order Date,Product ID,Delivery Status,Payment Info,Discount Code,Delivery Address
0,Z5N8P4,Rachel,James,gonzalezandrew@example.com,+1 (744) 875-9436,"93888 Daniel Shoal\nSouth Matthew, IA 80248",556.32,Regular,0951c570-96ad-432c-9010-e2736c161a50,28-04-2023,P004,Shipped,Card-5700-XXXX,NaN,"55286 Amber Bridge\nNew Ryanhaven, MH 23619"
1,B4G8T1,Kristen,Brooks,rogersedward@example.com,+1 (804) 774-2083,"68480 Lam Points Apt. 110\nSouth Jeffrey, KS 2...",808.16,Regular,034cfbb2-85d6-461e-aa1e-b1f8b9bf5b20,11/12/2020,P004,Delivered,Card-5429-XXXX,DIS974,"1385 Brett Mountains Apt. 046\nSouth Jennifer,..."
2,I4A1Z5,Marcus,Ortega,sjones@example.com,+1 (924) 360-4990,"41348 Cindy Stravenue\nLake Ricky, PA 78582",520.33,Regular,432db45a-dda3-4871-be67-878e2b4e89c1,15-09-2021,P005,Delivered,Card-3279-XXXX,NaN,USS Marsh\nFPO AP 21817
3,I4I9Q7,Jennifer,Scott,katiepatton@example.net,+1 (700) 365-5217,Unit 4856 Box 0290\nDPO AA 56630,907.60,Regular,42cd2dc4-4032-4edc-b063-5ef04bd357e7,02/09/2021,P003,Delivered,Card-6384-XXXX,DIS677,Unit 7751 Box 5229\nDPO AE 91281
4,A6Y7H3,Paul,Foley,andrewwaters@example.org,+1 (713) 660-8196,"666 Samuel Knoll\nEast Paula, PA 16295",3403.44,VIP,9ce8a936-86f4-4050-9967-628949bb22ed,24-01-2021,P003,Shipped,Card-3504-XXXX,DIS579,"94013 Mosley Ville\nWest Richard, HI 24795"

In [24]:
cleaned_data.head()

,Customer ID,First Name,Last Name,Email Address,Phone Number,Shipping Address,Total Purchase Value,VIP Status,Order ID,Order Date,Product ID,Delivery Status,Payment Info,Discount Code,Delivery Address
0,Z5N8P4,Rachel,James,gonzalezandrew@example.com,+1 (744) 875-9436,"93888 Daniel Shoal\nSouth Matthew, IA 80248",556.32,Regular,0951c570-96ad-432c-9010-e2736c161a50,28-04-2023,P004,Shipped,Card-5700-XXXX,NaN,"55286 Amber Bridge\nNew Ryanhaven, MH 23619"
1,B4G8T1,Kristen,Brooks,rogersedward@example.com,+1 (804) 774-2083,"68480 Lam Points Apt. 110\nSouth Jeffrey, KS 2...",808.16,Regular,034cfbb2-85d6-461e-aa1e-b1f8b9bf5b20,11/12/2020,P004,Delivered,Card-5429-XXXX,DIS974,"1385 Brett Mountains Apt. 046\nSouth Jennifer,..."
2,I4A1Z5,Marcus,Ortega,sjones@example.com,+1 (924) 360-4990,"41348 Cindy Stravenue\nLake Ricky, PA 78582",520.33,Regular,432db45a-dda3-4871-be67-878e2b4e89c1,15-09-2021,P005,Delivered,Card-3279-XXXX,NaN,USS Marsh\nFPO AP 21817
3,I4I9Q7,Jennifer,Scott,katiepatton@example.net,+1 (700) 365-5217,Unit 4856 Box 0290\nDPO AA 56630,907.60,Regular,42cd2dc4-4032-4edc-b063-5ef04bd357e7,02/09/2021,P003,Delivered,Card-6384-XXXX,DIS677,Unit 7751 Box 5229\nDPO AE 91281
4,A6Y7H3,Paul,Foley,andrewwaters@example.org,+1 (713) 660-8196,"666 Samuel Knoll\nEast Paula, PA 16295",3403.44,VIP,9ce8a936-86f4-4050-9967-628949bb22ed,24-01-2021,P003,Shipped,Card-3504-XXXX,DIS579,"94013 Mosley Ville\nWest Richard, HI 24795"

In [ ]:
import os

# Save the cleaned data to a CSV file
file_name = 'E-commerce_cleaned_data.csv'
cleaned_data.to_csv(file_name, index=False)

# Print the absolute path
absolute_path = os.path.abspath(file_name)
print(f"File saved at: {absolute_path}")

In [19]:
custom_path = r'\Users\Sanjay\Downloads\E-commerce_cleaned_dataset.csv'

# Save the file to the custom path
cleaned_data.to_csv(custom_path, index=False)

In [21]:
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Customer ID           25000 non-null  object
 1   First Name            25000 non-null  object
 2   Last Name             25000 non-null  object
 3   Email Address         23750 non-null  object
 4   Phone Number          25000 non-null  object
 5   Shipping Address      25000 non-null  object
 6   Total Purchase Value  25000 non-null  float64
 7   VIP Status            25000 non-null  object
 8   Order ID              25000 non-null  object
 9   Order Date            25000 non-null  object
 10  Product ID            25000 non-null  object
 11  Delivery Status       25000 non-null  object
 12  Payment Info          25000 non-null  object
 13  Discount Code         13913 non-null  object
 14  Delivery Address      25000 non-null  object
dtypes: float64(1), object(14)
memory usage: 2.9+ MB